python-dotenv
praisonaiagents
duckduckgo_search
e2b_code_interpreter 
black
pylint 
autopep8
prometheus_client
pytest
psutil
hypothesis
syrupy
redis
aiohttp
tiktoken
boto3
cryptography
faker
factory
rich
contextlib